.wrapper{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-areas:
    "list upload"
    "list idk";
  gap: 20px;
  grid-template-columns: 60% 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 20px;
}


.list{
  grid-area: list;
}

.upload{
  grid-area: upload;
}

.idk{
}

@media screen and (max-width: 830px) {
  .wrapper{
    grid-template-areas: "upload" "idk" "list";
    grid-template-columns: 1fr;
  }
}
