.wrapper{
  width: 100%;
  height: 100%;
  padding: 24px;
  background-color: #fff;
  color: #222;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  font-family: sans-serif;
  box-shadow: 0 0 16px 4px rgba(0,0,0, 0.2);
  border-radius: 8px;
}

.header{
  font-size: 24px;
  color: #222;
}

.input{
  outline: none;
  border: none;
  background-color: #fff;
}

.file-select{
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  cursor: pointer;
  border-radius: 8px;
  border-bottom: 1px solid #222;
}

.file-upload{
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  transition:
    background-color 0.2s ease-in-out 0s,
    color 0.2s ease-in-out 0s
;
}

.file-upload:hover{
  background-color: #0099ff;
  color: #fff;
}

.progress-bar-outer{
  width: 80%;
  height: 8px;
  border-radius: 6px;
  background-color: #d1d1d1;
  overflow: hidden;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
}

.progress-bar-inner{
  height: 100%;
  width: 0;
  background-color: #0099ff;
  border-radius: inherit;
  transition:
    width 0.5s ease-in-out 0s,
    background-color 0.5s ease-in-out 0s;
}

